@font-face {
  font-family: 'Switzer';
  src: url('../assets/fonts/Switzer-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../assets/fonts/Switzer-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../assets/fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../assets/fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Katana';
  src: url('../assets/fonts/Katana-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NYT';
  src: url('../assets/fonts/Chomsky-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Spec';
  src: url('../assets/fonts/MonoSpec-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --col-count: 12;
  --width: calc(100vw - 192px);
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #ffffff;
  color: black;
  font-family: 'Switzer', sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px;
  border-bottom: 1px solid #cccccc;
}

p, h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

header a:hover {
  color: #cccccc;
}

header h2 {
  font-size: 36px;
  line-height: 65px;
}

header p {
  font-size: 16px;
  line-height: 24px;
}

main {
  display: flex;
  flex-direction: column;
}

.image {
  margin-top: 48px;
  object-fit: contain;
  width: auto;
  max-width: 100%;
  height: 81px;
  max-height: calc(100vh - 96px);
}

.graphic {
  margin-top: 48px;
  object-fit: contain;
  width: auto;
  max-width: 100%;
  height: 50vh;
}

.graphic-large {
  margin-top: 48px;
  object-fit: contain;
  width: calc(100vw - 192px);
  height: auto;
  max-height: calc(100vh - 96px);
}

.graphics-div {
  display: none;
}

.description {
  text-align: left;
  margin-top: 48px;
  display: none;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid black;
}

.wrapper1::after {
  border-color: black;
}

.wrapper2::after {
  border-color: black;
}

.wrapper3::after {
  border-color: black;
}

.flex-section {
  display: flex;
  flex-direction: column;
  padding: 96px;
  border-bottom: 1px solid #cccccc;
  transition: background-color 0.3s;
}

.side-by-side-section {
  display: flex;
  flex-wrap: wrap;
}

.load {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

.load-image {
  opacity: 1;
}

.subsection {
  border-right: 1px solid black;
}

.side-by-side-section > a:not(:last-child) > .wrapper > .flex-section {
  border-right: 1px solid;
}

.subcol {
  display: inline-block;
  width: calc(var(--width) / var(--col-count));
  text-align: left;
}

.subheading {
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  align-items: center;
}

.subheading h3,
.subheading p {
  font-size: 16px;
  line-height: 24px;
}

.subheading h3 {
  font-weight: bold;
}

.dynamic-subheading {
  display: flex;
  align-items: center;
}

.dynamic-subheading h3,
.dynamic-subheading p {
  font-size: 16px;
  line-height: 24px;
}

.dynamic-subheading h3 {
  font-weight: bold;
}

.flex-section h1 {
  font-size: 81px;
  line-height: 97px;
  margin-top: 48px;
  font-weight: 400;
}

.flex-section:hover {
  background-color: #eeeeee;
}

#section1 h1 {
  font-family: 'Neue Machina';
}

#section2 h1 {
  font-family: 'Katana';
}

#section3 h1 {
  font-family: 'Clash Display';
}

#section1:active {
  background-color: #16f647;
  color: black;
}

#section2:active {
  background-color: #fd96c7;
}

#section3:active {
  background-color: #d7f616;
  color: black;
}

#section1-body {
  background-color: #16f647;
  color: black;
}

#section1-header a:hover {
  color: #13d33d;
}

#section1-header {
  border-color: black;
}

#flex-section1 {
  border-color: black;
}

#flex-section1 h1 {
  font-family: 'Neue Machina';
}

#flex-section1:hover {
  color: black;
  background-color: #13d33d;
}

#flex-section1:active {
  color: #16f647;
  background-color: black;
}

.subsection1 {
  border-color: black;
  border-bottom: none;
}

.subsection1:hover {
  color: black;
  background-color: #13d33d;
}

.subsection1:active {
  color: #16f647;
  background-color: black;
}

#section2-body {
  background-color: #fd96c7;
  color: black;
}

#section2-header a:hover {
  color: #e183b0;
}

#section2-header {
  border-color: black;
}

#flex-section2 {
  border-color: black;
}

#flex-section2 h1 {
  font-family: 'Katana';
}

#flex-section2:hover {
  color: black;
  background-color: #e183b0;
}

#flex-section2:active {
  color: #fd96c7;
  background-color: black;
}

.subsection2 {
  border-color: black;
  border-bottom: none;
}

.subsection2:hover {
  color: black;
  background-color: #e183b0;
}

.subsection2:active {
  color: #fd96c7;
  background-color: black;
}

#section3-body {
  background-color: #d7f616;
  color: black;
}

#section3-header a:hover {
  color: #c8e513;
}

#section3-header {
  border-color: black;
}

#flex-section3 {
  border-color: black;
}

#flex-section3 h1 {
  font-family: 'Clash Display';
}

#flex-section3:hover {
  color: black;
  background-color: #c8e513;
}

#flex-section3:active {
  color: #d7f616;
  background-color: black;
}

.subsection3 {
  border-color: black;
  border-bottom: none;
}

.subsection3:hover {
  color: black;
  background-color: #c8e513;
}

.subsection3:active {
  color: #d7f616;
  background-color: black;
}

#nyt {
  font-family: 'NYT';
}

#aeterna {
  font-family: 'Satoshi';
}

#isaiah-moss {
  font-family: 'Mono Spec';
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 500px) {
  :root {
    --col-count: 2;
    --width: calc(100vw - 96px);
  }
  header {
    padding: 48px;
  }
  header h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .flex-section {
    padding: 48px;
  }
  .flex-section h1 {
    margin-top: 24px;
    font-size: 36px;
    line-height: 65px;
  }
  .graphic-large {
    width: calc(100vw - 96px);
  }
}

@media only screen and (min-width: 501px) {
  :root {
    --col-count: 4;
    --width: calc(100vw - 192px);
  }
  .flex-section h1 {
    font-size: 36px;
    line-height: 65px;
  }
  .graphic-large {
    width: calc(100vw - 192px);
  }
} 

@media only screen and (min-width: 769px) {
  :root {
    --col-count: 6;
  }
  .flex-section h1 {
    font-size: 81px;
    line-height: 97px;
  }
} 

@media only screen and (min-width: 1280px) {
  :root {
    --col-count: 12;
  }
}